/* GENERAL & ALIGNMENT */

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  background-color: #FCFFF5;
}

.nopadding {
  padding: 0px !important;
}

.mt {margin-top:50px;}
.mb {margin-bottom:50px;}
.centered { text-align: center;}

/* FONTS */

h1, h2, h3, h4, h5 {
  font-family: 'Lato','Helvetica','Arial', sans-serif
}

p {
  font-family: 'Merriweather', 'Helvetica','Arial', sans-serif;
}

a {
  font-family: 'Helvetica','Arial', sans-serif;
}

h1 {
  text-transform: uppercase;
  color: #193441;
  padding: 72px 0 36px 0;
  text-align: center;
  font-size: 2.7em;
  line-height: 1.5em;
}

h3 {
  color: #193441;
  text-align: center;
  font-size: 1.5em;
}

h4 {
  font-family: 'Merriweather';
  color: #193441;
  text-align: center;
  font-size: 1.5em;
}

/* NAVBAR */ 
nav {
	background-color: transparent;
	position: fixed;
	width: 100%;
	z-index: 1;
	top:0;
}

nav ul {
	margin: 0;
	text-align: center;
}

nav li {
	display: inline-block;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar {
  margin-bottom: 0px !important;
}

.navbar .navbar-collapse {
  text-align: center;
}


.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: #FCFFF5 !important;
    background-color: transparent !important;
}

.nav > li > a {
    color: #ffeb99;
    font-size: 16px;
    text-decoration: none;
    border-radius: 20px;
}

.no-border {
  border: 0px !important;
}

nav li a { 
  line-height: 50px;
  text-decoration: none;
  color: #91AA9D;
  font-family: 'Helvetica','Arial', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 20px;
}

nav li a:hover {
  color: #FCFFF5;
}

.blue-bg {
  background-color: #193441;
}

.hero {
	position: relative;
	background: url(background1.jpg) no-repeat center fixed;
  background-size: cover;
  height:90vh;
  -webkit-filter: contrast(80%) brightness(100%);
}

.hero h1 {
  padding-top: 220px;
  margin-top: 0px;
  font-weight: bold;
}

.hero h2 {
  text-transform: uppercase;
  color: #193441;
  font-family: 'Lato','Helvetica','Arial', sans-serif;
  margin-top:-50px;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
}

/* PORTFOLIO SECTION */
.portfolio {
  margin-top: -50px;
}

.portfolio h1 {
  color: #FCFFF5;
  margin-bottom: -30px;
}

.portfolio h3 {
  color: #FCFFF5;
}

.portfolio p {
  color: #FCFFF5;
  margin: 0 40px 0 40px;
}

.grayscale {
  padding: 50px;
  filter: grayscale(0.8);
  -webkit-filter: grayscale(0.8);
  -moz-filter: grayscale(0.8);
  -o-filter: grayscale(0.8);
  -ms-filter: grayscale(0.8);
}

.grayscale:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
}

/* ABOUT SECTION */



#about {
  background-color: #FCFFF5;
}

#about h1{
  color:#193441;
  margin:0;
}

#about h3 {
  margin-left:40px;
  text-align:left;
  font-family: 'Lato','Helvetica','Arial', sans-serif;
  color: #FCFFF5;
}

.about p {
  color: #193441;
}

#about img {
  padding:50px;
}

#about h4 {
  text-align: left;
  margin-left: 40px;
  font-family: 'Lato','Helvetica','Arial', sans-serif;
}

.about h5 {
  font-family: 'Merriweather';
  color: #FCFFF5;
  text-align: left;
  font-size: 0.9em;
  margin-left: 40px;
  line-height: 130%;
}

.about li {
  font-family: 'Merriweather','Helvetica','Arial', sans-serif;
}

.panel {
  background-color: #FCFFF5 !important;
  border: none;
}

.panel-group {
  margin-left: 40px;
  margin-right: 40px;
}

.panel-heading a {
  font-family: 'Lato','Helvetica','Arial', sans-serif;
}

/* CONTACT ME SECTION */
.contact {
  font-size: 1.2em;
}

.contact a {
  color: #3E606F;
  margin: 0 20px;
}

.contact a:hover {
  color: #91AA9D;
}

.fa {
  font-size: 1.5em;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
  #about img {
    padding: 0px;
  }
}

@media screen and (max-width: 772px) {
  #about h5 {
    margin: 18px;
  }

  #about h3 {
    margin-left: 0;
    text-align: center;
  }

  #about h4 {
    margin-left: 0;
    text-align: center;
  }

  li {
    margin-left: 15px;
  }

  .nav li {
    margin: -10px;
    padding-bottom: 7px;
    display: inline-block;
  }

  .nav li a {
    padding:0 20px;
  }

  ul { 
    padding: 0 } 

  #profile-thumbnail {
    padding:20% !important;
  }
  
  #panel-3 {
    padding-bottom: 20px;
  }  
}